In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\ashis\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\ashis\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ashis\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ashis\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ashis\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\ashis\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [11]:
import pandas as pd
import numpy as np

In [7]:
pd.__version__

'2.1.4'

In [9]:
lst = [1,2,3,4,5]
pd.Series(lst)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [13]:
arr = np.array(lst)
print(arr)
pd.Series(arr)

[1 2 3 4 5]

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [19]:
pd.Series(index = ["Lakshya","Ashis","Archana","Goblin"],data = [1,2,3,4])

Lakshya    1
Ashis      2
Archana    3
Goblin     4
dtype: int64

In [21]:
steps = {'day1' : 4000, 'day2' : 3000, 'day3' : 12000}
pd.Series(steps)

day1     4000
day2     3000
day3    12000
dtype: int64

In [23]:
pd.Series(5)

0    5
dtype: int64

In [25]:
pd.Series(5).repeat(4)

0    5
0    5
0    5
0    5
dtype: int64

In [27]:
pd.Series(5).repeat(4).reset_index()

   index  0
0      0  5
1      0  5
2      0  5
3      0  5

In [29]:
pd.Series(5).repeat(4).reset_index(drop=True)

0    5
1    5
2    5
3    5
dtype: int64

In [39]:
pd.Series([2,3]).repeat(3).reset_index(drop=True)

0    2
1    2
2    2
3    3
4    3
5    3
dtype: int64

In [41]:
pd.Series([2,3]).repeat([3,1]).reset_index(drop=True)

0    2
1    2
2    2
3    3
dtype: int64

In [43]:
s = pd.Series([2,3]).repeat([3,1]).reset_index(drop=True)
s[3]

3

In [45]:
s[1:3]

1    2
2    2
dtype: int64

In [51]:
sr = pd.Series([1,2,3,4,5,6,7])
sr.agg([min,max,sum])

C:\Users\ashis\AppData\Local\Temp\ipykernel_18288\1532737657.py:2: FutureWarning: The provided callable <built-in function min> is currently using Series.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  sr.agg([min,max,sum])
C:\Users\ashis\AppData\Local\Temp\ipykernel_18288\1532737657.py:2: FutureWarning: The provided callable <built-in function max> is currently using Series.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  sr.agg([min,max,sum])
C:\Users\ashis\AppData\Local\Temp\ipykernel_18288\1532737657.py:2: FutureWarning: The provided callable <built-in function sum> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  sr.agg([min,max,sum])

min     1
max     7
sum    28
dtype: int64

In [53]:
sr = pd.Series([1,-2,3,-4,5,-6,7])

sr.abs()

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [65]:
sr1 = pd.Series([1,-2,3])
sr2 = pd.Series([1,2,3])

sr1

0    1
1   -2
2    3
dtype: int64

In [67]:
type(sr1)

pandas.core.series.Series

In [73]:
type(sr1[1])

numpy.int64

In [71]:
sr1.astype('float')

0    1.0
1   -2.0
2    3.0
dtype: float64

In [75]:
sr1 = pd.Series([1,2,30,4,5,6,7,8,9,20])
sr1

0     1
1     2
2    30
3     4
4     5
5     6
6     7
7     8
8     9
9    20
dtype: int64

In [77]:
sr1[:]

0     1
1     2
2    30
3     4
4     5
5     6
6     7
7     8
8     9
9    20
dtype: int64

In [81]:
sr1[:-4] #last 4  value will be removed

0     1
1     2
2    30
3     4
4     5
5     6
dtype: int64

In [85]:
sr1.between(10,50)

0    False
1    False
2     True
3    False
4    False
5    False
6    False
7    False
8    False
9     True
dtype: bool

In [87]:
ser = pd.Series([ "Data Science" , "JupyterNoteBook" , 'Hello World' , 'Machine Learning'])

In [89]:
ser

0        Data Science
1     JupyterNoteBook
2         Hello World
3    Machine Learning
dtype: object

In [95]:
print(ser.str.upper())
print("-"*20)
print(ser.str.lower())

0        DATA SCIENCE
1     JUPYTERNOTEBOOK
2         HELLO WORLD
3    MACHINE LEARNING
dtype: object
--------------------
0        data science
1     jupyternotebook
2         hello world
3    machine learning
dtype: object

In [97]:
for i in ser:
    print(len(i))

12
15
11
16

In [99]:
for i in ser:
    print(i , ": ",len(i))

Data Science :  12
JupyterNoteBook :  15
Hello World :  11
Machine Learning :  16

In [139]:
ser = pd.Series([ "Data Science    " , "JupyterNoteBook   " , '       Hello World' , 'Machine Learning'])

for i in ser:
    print(i , len(i))
ser=ser.str.strip()

print("-"*30)
print("After strip The new lengths are ")

for i in ser:
    print(i , len(i))

Data Science     16
JupyterNoteBook    18
       Hello World 18
Machine Learning 16
------------------------------
After strip The new lengths are
Data Science 12
JupyterNoteBook 15
Hello World 11
Machine Learning 16

In [141]:
ser

0        Data Science
1     JupyterNoteBook
2         Hello World
3    Machine Learning
dtype: object

In [149]:
ser.str.split(" ")
print(ser.str.split()[0])
print(ser.str.split()[0][1])

['Data', 'Science']
Science

In [151]:
ser = pd.Series(["06-02-2025","22-03-2024"])
ser.str.split("-")

0    [06, 02, 2025]
1    [22, 03, 2024]
dtype: object

In [165]:
#accessing the days from the dates
for i in (0,1):
    print(ser.str.split("-")[i][0])

06
22

Contains Function

In [167]:
ser = pd.Series([ "Data@Science" , "JupyterNoteBook" , 'Hello@World' , 'Machine Learning'])
ser.str.contains("@")

0     True
1    False
2     True
3    False
dtype: bool

Replace Function

In [169]:
ser.str.replace("@"," ")

0        Data Science
1     JupyterNoteBook
2         Hello World
3    Machine Learning
dtype: object

Count Function

In [173]:
ser.str.count('a')

0    2
1    0
2    0
3    2
dtype: int64

StartsWith , EndsWith

In [177]:
ser.str.startswith('H')

0    False
1    False
2     True
3    False
dtype: bool

In [179]:
ser.str.endswith('e')

0     True
1    False
2    False
3    False
dtype: bool

Find Function

In [183]:
ser.str.find("Data")

0    0
1   -1
2   -1
3   -1
dtype: int64

Converting a series to list

In [188]:
ser = ser.str.replace("@"," ")
ser.to_list()

['Data Science', 'JupyterNoteBook', 'Hello World', 'Machine Learning']